@page
@model Kardelen_DBase.Pages.Product.ProductEmployeeModel
@{
}

<br />
<h2>Produced Products</h2>
<a class="btn btn-primary btn-sm" href="/Product/Index">Switch to Original View</a>
<a class="btn btn-primary btn-sm" href="/Product/ProductFormula">Switch to Material View</a>
<table class="table">
    <thead>
        <tr>
            <th>Item ID</th>
            <th>Employee ID</th>
            <th>Product ID</th>
            <th>Production Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.pproductInfos)
        {
            <tr>
                <td>@item.pi_id</td>
                <td>@item.e_id</td>
                <td>@item.p_id</td>
                <td>@item.p_date</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Product/EditEmployee?pi_id=@item.pi_id">Edit</a>
                    <a class="btn btn-primary btn-sm" href="/Product/DeleteEmployee?pi_id=@item.pi_id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>