@page
@model Kardelen_DBase.Pages.Statistics.IndexModel
@{
}

<br />
<h2>Choose what to view</h2>
<a class='btn btn-primary btn-sm' href='/Statistics/TheMoneyEarnedThisMonth'>Money Earned This Month</a>
<a class='btn btn-primary btn-sm' href='/Statistics/TheMoneySpentOnMaterialsThisMonth'>Money Spent On Materials This Month</a>
<a class='btn btn-primary btn-sm' href='/Statistics/ProductionPerEmployee'>Production Per Employee</a>
<a class='btn btn-primary btn-sm' href='/Statistics/TotalGivenSalaryThisMonth'>Total Given Salary This Month</a>